.Messages-list {
    padding: 20px 0;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
    background: whitesmoke;
    border-radius: 10px;
    max-height: 75%;
  }

  @media screen and (max-width: 1200px)  {
    .Messages-list {
      max-width: 600px;
    }
  }
  
  @media screen and (max-width:768px)  {
    .Messages-list {
      max-width: 400px;
      max-height: 700px;
    }
  }
  
  @media screen and (max-width: 320px)  {
    .Messages-list {
      max-width: 300px;
      max-height: 500px;
      margin-top: -30px;  
    }
  }