body::after {
  content: "";
  background: url("../images/vinyl.jpg");
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #0b0a0a;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}